body {
    background: #fff;
    width: 100%;
    position: relative;
}

.left-menu {
    background: #FFE712;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-logo .logo {
    width: 100%;
    color: #1B1919;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 55px;
    text-decoration: none;
}

.box-logo .logo img {
    width: 142px;
    margin-bottom: 19px;
}

.menu {
    width: 100%;
}

.menu li {
    
}

.menu li a {
    text-align: center;
    background-color: #FFE712;
    box-shadow: inset 0 0 1px #D3C221;
    font-size: 18px;
    font-weight: 700;
    color: #1B1919;
    text-decoration: none;
    line-height: 58px;
    width: 100%;
    height: 58px;
    display: inline-block;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.menu li a:hover {
    background-color: #FF0008;
    color: #fff;
}

.btn-menu {
    display: none;
}

.wrap-setup {
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    line-height: 18px
}

.icon-box {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #E8E8E8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    cursor: pointer;
    margin-right: 15px;
}

.icon-sort {
    margin: 40px 0;
    margin-right: 22px;
    width: 44px;
}

.icon-sort img {
    width: 100%;
}

.wrap-setup__sort {
    justify-content: flex-end;
}

.box-shadow__top {
    position: relative;
}

.box-shadow__top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    width: calc(100% + 45px);
    height: 5px;
    box-shadow: 0px 4px rgba(197, 197, 197, 0.25)
    
}

.wrapper-table {
    padding-top: 58px;
}

table {
    width: 98.5%;
    margin-right: 15px;
    border-collapse: collapse;
}

table td,
table th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 22px;
    padding-left: 24px;
    font-size: 16px;
    line-height: 22px;
}

table th {
    background-color: #F4F4F4;
    font-weight: 700;
}


table tr{
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

table tr:hover {
    background-color: #FFE8E8;
    /* border: 1px solid #FF0008; */
}

.table-number {
    min-width: 3.43vw;
}

.table-name {
    min-width: 8.59vw;
}

.table-nameLat {
    min-width: 12.60vw;
}

.table-date {
    min-width: 9.89vw;
}

.table-age {
    min-width: 4.37vw;
}

.table-address {
    min-width: 11.71vw;
}

.table-school {
    min-width: 10.93vw;
}

.table-phone {
    min-width: 16.35vw;
}

.table-phone p span {
    font-weight: 700;
}

.btn-table {
    background-color: #fff;
    box-shadow: 0px 0 2px 2px rgba(176, 176, 176, 0.25);
    width: 100%;
    height: 40px;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 1600px) {
    .box-logo .logo img {
        width: 115px;
        margin-bottom: 19px;
    }

    .box-logo .logo {
        font-size: 20px;
        line-height: 26px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .menu li a {
        font-size: 16px;
        line-height: 45px;
        height: 45px;
    }

    .wrap-setup {
        font-size: 14px;
        line-height: 16px;
    }

    .icon-box,
    .icon-sort {
        margin: 25px 0;
        margin-right: 15px;
    }

    .wrapper-table {
        padding-top: 40px;
    }

    table td, table th {
        padding: 16px;
        padding-left: 18px;
        font-size: 14px;
        line-height: 18px;
    }

    .btn-table {
        height: 30px;
    }

}

@media only screen and (max-width: 1199px) {

    .wrap-setup {
        font-size: 12px;
        line-height: 16px;
    }

    .icon-box {
        width: 38px;
        height: 38px;
    }

    .icon-box, .icon-sort {
        margin: 25px 0;
        margin-right: 10px;
    }

    .icon-sort {
        width: 38px;
    }
    
    .table-number {
        min-width: 48px;
    }

    .table-name {
        min-width: 120px;
    }

    .table-nameLat {
        min-width: 125px;
    }

    .table-date {
        min-width: 125px;
        display: none;
    }

    .table-age {
       min-width: 60px;
    }

    .table-address {
        min-width: 130px;
    }

    .table-school {
        display: none;
    }

    .table-phone {
        min-width: 170px;
    }

}

@media only screen and (max-width: 992px) {

    .wrap-setup {
        font-size: 10px;
        line-height: 14px;
    }

    .icon-box {
        width: 32px;
        height: 32px;
    }

    .icon-box img {
        width: 50%;
    }

    .icon-box, .icon-sort {
        margin: 25px 0;
        margin-right: 6px;
    }

    .icon-sort {
        width: 32px;
    }
    
    .table-number {
        min-width: 48px;
    }

    .table-name {
        min-width: 120px;
    }

    .table-nameLat {
        min-width: 125px;
        display: none;
    }

    .table-date {
        min-width: 125px;
        display: none;
    }

    .table-age {
       min-width: 60px;
       display: none;
    }

    .table-address {
        min-width: 130px;
    }

    .table-school {
        display: none;
    }

    .table-phone {
        min-width: 170px;
    }

}

@media only screen and (max-width: 768px) {

    .box-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 25px;
    }

    .box-logo .logo {
        width: auto;
        display: flex;
        text-align: left;
        align-items: center;
        padding: 20px 0;
    }

    .box-logo .logo img {
        width: 95px;
        margin-bottom: 0;
        display: block;
        height: 100%;
        margin-right: 12px;
    }

    .left-menu {
        min-height: auto;
        position: relative;
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .btn-menu {
        position: absolute;
        top: 58px;
        right: 30px;
        width: 25px;
        display: block;
    }

    .btn-menu img {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .icon-sort {
        margin-right: 0;
    }

    .icon-box {
        margin-right: 0;
    }

    .wrap-setup__sort {
        justify-content: center;
    }

    .wrap-setup {
        justify-content: center;
    }

    .wrapper-table {
        padding-top: 40px;
    }

    table {
        width: 100%;
    }
}


@media only screen and (max-width: 500px) {

    .wrap-setup span {
        display: none;
    }

    .table-address {
        display: none;
    }

    .table-phone {
        display: none;
    }
}